ul {

	padding: 0;
	list-style-type: none; /
	background-color: #eee;

	overflow: hidden;
	text-align: center;
	margin: 0 auto;
}

li a, .dropbtn {
	display: inline-block;

	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}

li a:hover, .dropdown:hover .dropbtn {
	color: #f00;

}

